body {
  background-color: rgba(204, 204, 204, 0.445);

  height: 100%;
  .container-fluid {
    padding: 11px;
    .container {
      color: rgba(0, 0, 0, 0.623);
      background-image: linear-gradient(
        rgba(0, 153, 255, 0.329),
        rgba(132, 0, 255, 0.192)
      );
      background-size: cover;
      border-radius: 6% /12%;
      box-shadow: -1.2em -1em 1em rgba(81, 82, 83, 0.24);
      padding: 2%;
      width: 400px;
    }
  }
}
